
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}


nav {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    font-size: 18px;
    transition: 0.3s;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    font-size: 16px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.menu a:hover,
.dropdown-menu a:hover {
    background-color: #6f6f6f4c;
    color: rgb(0, 0, 0);
}
